body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d1020;
    color: white;
    min-height 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #161b33;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 75px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc4d;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

.card {
    background: #1a2142;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    color: #ffcc4d;
    font-size: 3rem;
}

.button {
    display: inline-block;
    background: #ffcc4d;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}



main {
    flex: 1;
}

footer {
    display: felx;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: #161b33;
}
